@font-face {
  font-family: "FasterOne";
  src: url(../fonts/FasterOne-Regular-webfont.woff);
}

@font-face {
  font-family: "Yukarimobil";
  src: url(../fonts/yukarimobil-webfont.woff);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans 3";
  color: rgb(51, 246, 184);
}

/*----------Main Container-----------*/

.bg-black {
  background-color: black;
}

canvas {
  background: black;
  border: 2px solid rgb(51, 246, 184);
}

.game-over-info {
  font-family: Yukarimobil;
  font-size: 3rem;
  position: absolute;
  top: 45vh;
  left: 40vw;
  visibility: hidden;
}

h1 {
  font-family: FasterOne;
  font-size: 4.5rem;
  padding-bottom: 2rem;
}

.btn-newGame {
  margin-top: 1rem;
  width: 12vw;
  min-width: 5rem;
  height: 8vh;
  border-radius: 25px;
  border: none;
  opacity: 1;
  transition: all 1s;
  font-family: Yukarimobil;
  color: black;
  background-color: rgb(51, 246, 184);
}

.btn-newGame:hover {
  border: solid 1px;
  cursor: pointer;
}

/*----------Info Bar - Right-----------*/
.stopp-watch {
  font-family: Yukarimobil;
  font-size: 3rem;
}

h2 {
  font-family: Yukarimobil;
  font-size: 1.5rem;
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.highscores-list {
  list-style-type: decimal;
}

.highscore {
  font-family: Yukarimobil;
}

.bg-white-transparent {
  background-color: rgba(252, 252, 252, 0.174);
}
